.pagination__step_forward:after {
  content: url("../src/blocks/pagination/img/step-forward.png");
  padding-left: 10px;
  transition: .3s ease;
}

.pagination__step_forward:hover {
  filter: invert(50%);
}