.tab__dot {
  background-clip: padding-box;
  background-color: $tab-dot-bg;
  border: 2px solid transparent;
  border-radius: 100%;
  box-sizing: border-box;
  cursor: pointer;
  height: 10px;
  opacity: 0.6;
  transition: .4s ease;
  width: 10px;
}

.tab__dot:not(:first-of-type) {
  margin-left: 6px; 
  // Plus transparent borders of the adjacent dots, and we get the overall gap
  // equaled 10px.
}