@mixin fixed-size-block__content(
  $vertical-padding: 100px, 
  $horizontal-padding: 15px) 
{
  box-sizing: border-box;
  max-width: $grid-width;
  min-width: $grid-width;
  padding: $vertical-padding $horizontal-padding;
}