.video-container__stub {
  background-color: $gray--lighten;
  background-image: url("../src/blocks/video-container/img/play.png");
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  height: 100%;
  min-width: 100%;
}