.introduction-block__skill-item {
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  max-width: 100%;
  min-width: 100%;
}

.introduction-block__skill-item:not(:first-of-type) {
  padding-top: 35px;
}