.button {
  @include reset;
  background-color: $button-main-bg;
  border: none;
  box-sizing: border-box;
  color: $button-main-color;
  cursor: pointer;
  display: block;
  font-family: $font-family--caption;
  font-size: $font-size--smallest;
  padding: 20px 30px;
  transition: .5s ease;
}

.button:hover {
  background-color: $button-main-bg--hover;
}