head.head
  meta(charset="utf-8")
  meta(name="author" content="Alexey Soloviev")
  meta(name="description" content="This page is created according to Piroll PSD.")
  link(rel="stylesheet", href="style/style.css")
  link(rel="icon" type="image/png" sizes="256x256" href
    ="https://vectr.com/omenknow/gvMS87vyn.png?width=256&height=256&select=gvMS87vynpage0")
  //- There should be appended "title" for the particular page, like "Piroll: Home".