.testimonials-block__item {
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  height: 500px;
  position: absolute;
  text-align: center;
  top: 0;
  transition: .4s ease;
  z-index: 0;
}