.portfolio__item {
  background-color: $portfolio-item-bg;
  box-sizing: border-box;
  display: flex;
  height: 300px;
  min-width: 340px;
}

.portfolio__row:nth-of-type(odd) .portfolio__item:nth-of-type(odd) {
  background-color: $portfolio-item-bg--additional;
}

.portfolio__row:nth-of-type(even) .portfolio__item:nth-of-type(even) {
  background-color: $portfolio-item-bg--additional;
}