.header {
  @include border-box;
  @include reset;
  display: flex;
  flex-flow: row wrap;
  height: $header-height;
  justify-content: space-between;
  max-width: $grid-width;
  min-width: $grid-width;
  padding: 0 15px;
}