include ../functions/getList.pug
include ../mixins/list-item.pug

block script
  - 
    const tabList = getList("tabs", "home");
    const useAltHeadline = false;
  //- By default, tab "Home" will be considered active. This block should be
  //- overriden for each particular page.

doctype html
html.html
  block head
    include ../../blocks/head/head.pug
  body.body
    block headline
      div(class=useAltHeadline ? "headline headline_alternative" : "headline")
        .header
          a(class="header__logo" href="home.html" title="Home")
            .header__icon-logo
          ul.header__nav-bar
            each tab in tabList
              +list-item(tab)
    .page
      .main
        block main
      .footline
        block footer
          include ../../blocks/footer/footer.pug

//- Template Inheritance in Pug:
//- https://pugjs.org/language/inheritance.html