include ../functions/getList.pug
include ../mixins/list-item.pug

block script
  - 
    const tabList = getList("tabs", "home");
    const useAltHeadline = false;
  //- By default, tab "Home" will be considered active. This block should be
  //- overriden for each particular page.

doctype html
html(lang="en" class="html")
  block head
    include ../../blocks/head/head.pug
    //- Scripts should be loaded via "head.pug".
  body.body
    .page
      block headline
        div(class=useAltHeadline ? "headline headline_theme_mercury" : "headline")
          .header
            div(class="header__logo")
              a(class="icon icon_logo"  href="one-page.html" title="One page")
            ul.header__nav-bar
              each tab in tabList
                +list-item(tab)
      .main
        block main
    .footline
      block footer
        include ../../blocks/footer/footer.pug