.features-list__item {
  box-sizing: border-box;
  display: flex;
  flex-flow: column wrap;
  max-width: 230px;
  text-align: center;
}

.features-list__item:not(:first-of-type) {
  margin-left: 70px;
}