// Sizes.

$grid-width: 1200px;
// the actual width of grid is 1170 but there will also be padding equal to 30

$font-family--caption: "Montserrat", sans-serif;
$font-family--normal: "Nunito Sans", sans-serif;

$line-height--medium: 25px;
$line-height--large: 35px;

$font-size--smallest: 12px;
$font-size--smaller: 15px;
$font-size--small: 16px;
$font-size--medium: 18px;
$font-size--large: 30px;
$font-size--largest: 38px;

// Colors.

$gray--dark: #787878;
$gray--darken: #171717;
$gray--darkest: #141414;
$gray: #bcbcbc;
$gray--light: #e1e1e1;
$gray--lighten: #e9e9e9;
$gray--lightest: #f6f6f6;

$color-main: #10c9c3;
$color-secondary: $gray--lightest;

$article-item-color: $gray--dark;
$body-bg: white;
$button-main-bg: $color-main;
$button-main-bg--hover: #252525;
$button-main-color: white;
$caption-color: $gray--darken;
$footer-color: $gray;
$footer-header-color: white;
$footline-bg: $gray--darkest;
$input-border--focus: $color-main;
$input-color: $gray--dark;
$input-placeholder: $gray--dark;
$headline-bg--theme-mercury: $gray--lighten;
$headline-bg: white;
$line-bg--theme-mercury: $gray--lighten;
$line-bg--theme-mine-shaft: #3e3e3e;
$line-color--theme-mine-shaft: white;
$line-bg--theme-turquoise: $color-main;
$line-color--theme-turquoise: white;
$line-bg--theme-wild-sand: $gray--lightest;
$nav-tab-color--active: $color-main;
$pagination-bg: white;
$pagination-color: $gray--darken;
$paragraph-color: $gray--dark;
$portfolio-item-bg: #dddddd;
$portfolio-item-bg--additional: #838383;
$portfolio-item-bg--fill-dark: #252525;
$portfolio-item-bg--fill-light: $color-main;
$portfolio-item-color: $gray--darkest;
$portfolio-button-bg: $color-secondary;
$portfolio-button-color: #8e8e8e;
$portfolio-button-color--hover: $gray--darken;
$selection-bg: $color-main;
$selection-color: white;
$skill-bar-bg: $gray--lighten;
$skill-indicator-bg: $color-main;
$strong-color: $gray--darken;