@mixin reset {
  color: inherit;
  font-style: normal;
  margin: 0;
  outline: none;
  padding: 0;
  text-decoration: none;
}
// Since BEM doesn't encourage using global resets, I've decided to make this
// Sass-mixin which will be included in all the rules where resetting properties
// is welcomed.