.paragraph {
  @include reset;
  box-sizing: border-box;
  color: $gray--dark;
  font-family: $font-family--normal;
  font-size: $font-size--small;
  line-height: $line-height--medium;
  padding-bottom: 30px;
}

.paragraph:first-of-type {
  padding-top: 0;
}

.paragraph:last-of-type {
  padding-bottom: 0;
}