extends includes/templates/layout.pug

include includes/mixins/statistics-item.pug

block script
  - 
    const tabList = getList("tabs", "about");
    const statisticsItemList = getList("statistics");
    const useAltHeadline = false;

append head
  title Piroll: About
block main
  .line.line_theme_mine-shaft
    .section
      .article.article_text_center
        h1.caption.caption_largest Amelia Woods
        p.paragraph.paragraph_medium
          | I am a Graphic & Web Designer based in New York, specializing in
          | User Interface Design and Development.
  .line.line_theme_turquoise
    .section
      .array
        each item in statisticsItemList
          +statistics-item(item)
  .line.line_theme_wild-sand
    .section.section_half.section_image_about-me
    .section.section_half.section_content_left
      .article
        h1.caption About me
        p.paragraph
          | Given let waters air sea had you'll, may seed abundantly
          | fish. Were, you'll earth forth winged above brought. Own
          | darkness they're him can't fourth sea place have.
        p.paragraph
          | So the above May stars cattle fruitful face shall. Tree it,
          | winged. Every signs male firmament us. Morning him.
        .icon.icon_signature.article__icon
  .line 
    .section
      .article.article_text_center
        h1.caption Need a Project?
        p.paragraph
          | Let us know what you're looking for in an agency. We'll take a
          | look and see if this could be the start of something beautiful.
        .article__button
          a(class="button button_wide" role="button" href
            ="contact.html") LET'S TALK