extends includes/templates/layout.pug

include includes/mixins/statistics-block-item.pug

block providingLists
  - 
    const tabList = getList("tabs", "about");
    const statisticsItemList = getList("statisticsItems");

append head
  title Piroll: About
block main
  .banner.banner_theme_dark
    .banner__content
      h1.caption.caption_large Amelia Woods
      p.paragraph.paragraph_large
        | I am a Graphic & Web Designer based in New York, specializing in
        | User Interface Design and Development.
  .statistics-block
    .statistics-block__content
      each item in statisticsItemList
        +statistics-block-item(item)
  .annotation-block
    .annotation-block__image-container
      .annotation-block__image
    .annotation-block__content
      h1.caption About me
      p.paragraph
        | Given let waters air sea had you'll, may seed abundantly 
        | fish. Were, you'll earth forth winged above brought. Own 
        | darkness they're him can't fourth sea place have.
      p.paragraph
        | So the above May stars cattle fruitful face shall. Tree it, 
        | winged. Every signs male firmament us. Morning him.
      .annotation-block__icon-container
        .annotation-block__icon-signature
  .order-block
    .order-block__content
      h1.caption Need a Project?
      p.paragraph
        | Let us know what you're looking for in an agency. We'll take a 
        | look and see if this could be the start of something beautiful.
      .order-block__button
        a(class="button button_wide" role="button" href="contact.html") LET'S TALK