extends includes/templates/layout.pug

include includes/mixins/statistics-block-item.pug

block providingLists
  - 
    const tabList = getList("tabs", "about");
    const statisticsItemList = getList("statisticsItems");

append head
  title Piroll: About
block main
  .main__content
    .banner.banner_theme_dark.main__banner
      .banner__content
        .article
          .article__header.article__header_font_white Amelia Woods
          .article__body.article__body_font_white
            | I am a Graphic & Web Designer based in New York, specializing in
            | User Interface Design and Development.
    .statistics-block.main__statistics-block
      .statistics-block__content
        each item in statisticsItemList
          +statistics-block-item(item)
    .annotation-block.main__annotation-block
      .annotation-block__left-section
        .annotation-block__image
      .annotation-block__right-section
        .annotation-block__content
          .article
            h1.caption About me
            p.paragraph
              | Given let waters air sea had you'll, may seed abundantly 
              | fish. Were, you'll earth forth winged above brought. Own 
              | darkness they're him can't fourth sea place have.
            p.paragraph
              | So the above May stars cattle fruitful face shall. Tree it, 
              | winged. Every signs male firmament us. Morning him.
            .annotation-block__icon-container
              .annotation-block__icon-signature
    .order-block.main__order-block
      .order-block__content
        .article
          h1.caption Need a Project?
          p.paragraph
            | Let us know what you're looking for in an agency. We'll take a 
            | look and see if this could be the start of something beautiful.
          .order-block__button
            a(class="button" role="button" href="contact.html") LET'S TALK