extends includes/templates/layout.pug

block script
  - 
    const tabList = getList("tabs", "home");
    const useAltHeadline = false;

append head
  title Piroll: Home
block main
  .banner
    .banner__content
      h1.caption.caption_large UI/UX & Graphic Designer
      p.paragraph.paragraph_large
        | I am a Graphic & Web Designer based in New York, specializing in
        | User Interface Design and Development.
  .portfolio
    - let rowsCount = 0, columnsCount = 0;

    while rowsCount < 3
      - rowsCount++;
      .portfolio__row

        while columnsCount < 4
          - columnsCount++;

          div(class=(rowsCount == 2 && columnsCount == 2) ? 
            "portfolio-item portfolio-item_fill_light portfolio__item" 
            : "portfolio-item portfolio__item")
            
            a(class="portfolio-item__content" href="" title="")
              .portfolio-item__image
              .portfolio-item__info

        - columnsCount = 0;