extends includes/templates/layout.pug

block script
  - 
    const tabList = getList("tabs", "home");
    const useAltHeadline = false;

append head
  title Piroll: Home
block main
  .line.line_theme_wild-sand
    .section
      .article.article_content_center.article_type_banner
        h1.caption.caption_largest UI/UX & Graphic Designer
        p.paragraph.paragraph_medium
          | I am a Graphic & Web Designer based in New York, specializing in
          | User Interface Design and Development.
  .line.line_theme_wild-sand
    .portfolio
      - let itemsCount = 0;

      while itemsCount < 12
        - itemsCount++;

          a(
            href="./project-single.html"
            title=""
            class="portfolio-item portfolio-item_fill_light"
          )
            .portfolio-item__description
            //- It's empty for the time being.
