extends includes/templates/layout.pug

block script
  - 
    const tabList = getList("tabs", "home");
    const useAltHeadline = true;

append head
  title Piroll: Home
block main
  .annotation-block.annotation-block_alternative
    .annotation-block__image-container
      .annotation-block__image
    .annotation-block__content
      h1.caption.caption_large We Design and Develop
      p.paragraph.paragraph_large
        | We are a new design studio based in USA. We have over 20 years of
        | combined experience, and know a thing or two about designing websites 
        | and mobile apps.
      .annotation-block__button
        a(class="button button_wide" role="button" href="contact.html") CONTACT US
