extends includes/templates/layout.pug

include includes/mixins/statistics-item.pug
include includes/mixins/features-item.pug
include includes/mixins/testimonials-item.pug

block script
  - 
    const tabList = getList("tabsExtended", "home");
    const statisticsItemList = getList("statistics");
    const featuresList = getList("features");
    const testimonialsList = getList("testimonials");
    const useAltHeadline = true;

append head
  title Piroll: Home
block main
  .line.line_theme_mercury
    .section.section_half.section_image_about-us
    .section.section_half.section_content_left
      .article.article_type_introduction
        h1.caption.caption_largest We Design and Develop
        p.paragraph.paragraph_medium
          | We are a new design studio based in USA. We have over 20 years of
          | combined experience, and know a thing or two about designing
          | websites and mobile apps.
        .article__button.article__button_align_left
          a(class="button button_wide" role="button" href="contact.html") CONTACT US
  .line
    .section
      .article.article_content_center
        h1.caption About Us
        p.paragraph
          | Divide have don't man wherein air fourth. Own itself make have
          | night won't make. A you under Seed appear which good give. Own give
          | air without fowl moveth dry first heaven fruit, dominion she'd
          | won't very all.
        .icon.icon_signature.article__icon
  .line.line_theme_wild-sand
    .section.section_half.section_content_right
      .article.article_type_skillometer
        h1.caption Professional Skills
        .skills-block
          .skills-block__item
            .skills-block__description UI/UX DESIGN    75%
            .skills-block__bar
              div(class=`skills-block__indicator
              skills-block__indicator_ui-ux`)
          .skills-block__item
            .skills-block__description WEB DEVELOPMENT    90%
            .skills-block__bar
              div(class=`skills-block__indicator
              skills-block__indicator_web-dev`)
          .skills-block__item
            .skills-block__description MARKETING    65%
            .skills-block__bar
              div(class=`skills-block__indicator
              skills-block__indicator_marketing`)
    .section.section_half.section_image_professional-skills
  .line.line_theme_turquoise
    .section
      .array
        each item in statisticsItemList
          +statistics-item(item)
  .line.line_theme_wild-sand
    .portfolio
      - let rowsCount = 0, columnsCount = 0, overallCount = 0;

      while rowsCount < 2
        - rowsCount++;
        .portfolio__row

          while columnsCount < 4
            - 
              columnsCount++;
              overallCount++;

            a(href="" title="" class=(rowsCount == 2 && columnsCount == 2) ?
            `portfolio-item portfolio-item_image_work-${ overallCount } 
            portfolio-item_fill_dark`
            : `portfolio-item portfolio-item_image_work-${ overallCount }`)
 
              .portfolio-item__description
              //- It's empty for the time being.

          - columnsCount = 0;  
      .portfolio__row
        button(class="portfolio__show-more-button" type="submit") LOAD MORE WORK
  .line
    .section
      .article.article_content_center.article_type_banner
        h1.caption Our Work Process
        p.paragraph
          | Was years it seasons was there form he in in them together over that,
          | third sixth gathered female creeping bearing behold years.
      .video-container.article__video-container
        .video-container__stub
  .line.line_theme_wild-sand
    .section
      - let count = 0;

      .array
        //- Process the 1st half of the items.
        while count < 4
          +features-item(featuresList[ count ])
          - count++;

      .array
        //- Process the rest.
        while count < 8
          +features-item(featuresList[ count ])
          - count++;

  //- .testimonials-block
  //-   .testimonials-block__content
  //-     each item in testimonialsList
  //-       +testimonials-item(testimonialsList[ item ])
