extends includes/templates/layout.pug

include includes/mixins/statistics-block-item.pug
include includes/mixins/features-list-item.pug
include includes/mixins/testimonial-item.pug

block script
  - 
    const tabList = getList("tabsExtended", "home");
    const statisticsItemList = getList("statisticsItems");
    const featuresList = getList("features");
    const testimonialsList = getList("testimonials");
    const useAltHeadline = true;

append head
  title Piroll: Home
block main
  .introduction-block.introduction-block_alternative
    .introduction-block__image-container
      .annotation-block__image
    div(class=`introduction-block__text-container
    introduction-block__text-container_align_left`)
      .introduction-block__article
        h1.caption.caption_large We Design and Develop
        p.paragraph.paragraph_large
          | We are a new design studio based in USA. We have over 20 years of
          | combined experience, and know a thing or two about designing websites
          | and mobile apps.
        .annotation-block__button
          a(class="button button_wide" role="button" href="contact.html") CONTACT US
  .introduction-block
    .banner
      .banner__content.banner__content_wide
        h1.caption About Us
        p.paragraph
          | Divide have don't man wherein air fourth. Own itself make have night
          | won't make. A you under Seed appear which good give. Own give air
          | without fowl moveth dry first heaven fruit, dominion she'd won't very
          | all.
        .annotation-block__icon-container
          .annotation-block__icon-signature
  .introduction-block.introduction-block_alternative
    div(class=`introduction-block__text-container
    introduction-block__text-container_alternative
    introduction-block__text-container_align_right`)
      .introduction-block__article
        h1.caption Professional Skills
        .introduction-block__skill-item
          .introduction-block__description UI/UX DESIGN    75%
          .introduction-block__skill-meter
            div(class=`introduction-block__indicator
            introduction-block__indicator_ui-ux`)
        .introduction-block__skill-item
          .introduction-block__description WEB DEVELOPMENT    90%
          .introduction-block__skill-meter
            div(class=`introduction-block__indicator
            introduction-block__indicator_web-dev`)
        .introduction-block__skill-item
          .introduction-block__description MARKETING    65%
          .introduction-block__skill-meter
            div(class=`introduction-block__indicator
            introduction-block__indicator_marketing`)
    .introduction-block__image-container
      .annotation-block__image
  .statistics-block
    .statistics-block__content
      each item in statisticsItemList
        +statistics-block-item(item)
  .portfolio
    - let rowsCount = 0, columnsCount = 0;

    while rowsCount < 2
      - rowsCount++;
      .portfolio__row

        while columnsCount < 4
          - columnsCount++;

          div(class=(rowsCount == 2 && columnsCount == 2) ? 
            "portfolio-item portfolio-item_fill_dark portfolio__item" 
            : "portfolio-item portfolio__item")
            
            a(class="portfolio-item__content" href="" title="")
              .portfolio-item__image
              .portfolio-item__info

        - columnsCount = 0;
    .portfolio__row
      button(class="portfolio__show-more-button" type="submit") LOAD MORE WORK
  .banner.banner_theme_light
    .banner__content
      h1.caption Our Work Process
      p.paragraph
        | Was years it seasons was there form he in in them together over that,
        | third sixth gathered female creeping bearing behold years.
      .video-container
        .video-container__stub
  .features-list
    .features-list__content
      - let count = 0;
      .features-list__row
        //- Process the 1st half of the items.
        while count < 4
          +features-list-item(featuresList[ count ])
          - count++;
      .features-list__row
        //- Process the rest.
        while count < 8
          +features-list-item(featuresList[ count ])
          - count++;
  .testimonials-block
    .testimonials-block__content
      each item in testimonialsList
        +testimonial-item(testimonialsList[ item ])
