extends includes/templates/layout.pug

block script
  - 
    const tabList = getList("tabs");
    const useAltHeadline = false;

append head
  title Piroll: Project
block main
  .line.line_theme_wild-sand
    .section.section_half.section_content_right
      .article.article_type_project
        h1.caption.caption_largest Light Breakfast
        p.paragraph
          | Light his can't a creeping. Be, bring blessed night. Replenish
          | blessed creature good. Saw earth every creepeth lights day, divided
          | abundantly form. In. Said given lights. Sixth the male. Upon their 
          | multiply. Kind beast. Him tree upon.
        p.paragraph
          | Cattle. Dominion day herb she'd creeping divide darkness. Which. 
          | Subdue had.
        ul.article__list
          li.article__item #[span.strong Client:] Emma Morris
          li.article__item #[span.strong Date:] 25.06.2017
          li.article__item #[span.strong Share:] Facebook, Twitter
            | , Pinterest

    .section.section_half.section_image_project-single
prepend footer
  //- Attaching a new block prior to ".footer".
  .pagination
    .pagination__content
      a(class="pagination__step pagination__step_back" href="" 
        title="Previous project")
          span PREVIOUS PROJECT
      a(class="pagination__projects-index" href="" title="Projects index")
      a(class="pagination__step pagination__step_forward" href=""
        title="Next project")
          span NEXT PROJECT