.html {
  height: 100%;
}
// Class "html" for the HTML node? I suppose, there's nothing wrong, according 
// to BEM methodolgy. At least, "body.body" is a pretty common thing.

::-moz-selection {
  background-color: $selection-bg;
  color: $selection-color;
}

::selection {
  background-color: $selection-bg;
  color: $selection-color;
}