mixin features-item(item)
  .array__column
    div(class=`icon icon_features-${ item.icon } array__icon`)
    h1.caption.caption_smallest.array__caption= item.title.toUpperCase()
    .paragraph.array__paragraph= item.description