.nav-tab__link {
  box-sizing: border-box;
  color: inherit;
  padding: 15px 0; // make the link area a bit more spacious
  text-decoration: inherit;
}
// All the styles are taken from the parent. It allows to reset link styles
// in this case.