.nav-tab {
  @include reset;
  @include non-selectable-text;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  font-family: $font-family--caption;
  font-size: $font-size--smallest;
  font-weight: bold;
  padding: 13px;
}

.nav-tab:last-of-type {
  padding-right: 0;
}