.blockquote {
  @include reset;
  box-sizing: border-box;
  font-family: $font-family--caption;
  font-size: $font-size--large;
}

.blockquote:after {
  content: close-quote;
}

.blockquote:before {
  content: open-quote;
}