mixin features-list-item(item)
  .features-list__item
    .features-list__icon-container
      div(class=`features-list__icon-${ item.icon }`)

    .features-list__title= item.title.toUpperCase()
    .features-list__description= item.description