mixin statistics-block-item(item)
  .statistics-block__item
    .statistics-block__icon-container
      div(class=`statistics-block__icon-${ item.icon }`)

    .statistics-block__info
      .statistics-block__numbers= item.numbers
      .statistics-block__description= item.description