@import "Style";

.Icon {
  animation-duration: .4s;
  animation-name: fading-in;
  box-sizing: border-box;
  fill: $icon-fill;
  transition: .2s ease;
}

.SearchButton {
  @include reset;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  height: $header-container-height;
  justify-content: center;
  width: $header-container-height;

  &:hover svg {
    fill: $icon-fill--hover;
  }
}