.portfolio-item_fill_light:hover {
  align-items: center;
  background-color: $portfolio-item-bg--fill-light !important;
  justify-content: center;
  transition: .1s ease;

  &:before {
    content: url("../../src/blocks/portfolio-item/img/look.png");
  }
}