.portfolio-item {
  @include reset;
  align-items: flex-end;
  background-color: $portfolio-item-bg--even;
  box-sizing: border-box;
  color: $portfolio-item-color;
  display: flex;
  height: 300px;
  position: relative;
  width: $portfolio-item-width;
}