.portfolio-item_fill_dark {
  background-color: $portfolio-item-bg--fill-dark !important;
}

.portfolio-item_fill_dark .portfolio-item__image {
  background-image: url("../src/blocks/portfolio-item/img/look.png"); 
  background-position: 50% 53%;
  background-repeat: no-repeat;
}