.caption {
  @include reset;
  box-sizing: border-box;
  color: $caption-color;
  font-family: $font-family--caption;
  font-size: $font-size--larger;
}

.caption + .paragraph {
  padding-top: 30px;
}