.statistics-block {
  @include border-box;
  @include non-selectable-text;
  @include reset;
  align-items: center;
  background-color: #10c9c3;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  min-width: 100%;
}